.primary {
  /*Buttons*/
  &.btn-flat, button& {
    color: @brand-color;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @brand-color;
    color:@white;
    &:active {
      background-color: @brand-color-focus;
    }
  }
}

.info {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-info;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-info;
    color:@white;
    &:active {
      background-color: @md-color-info-focus;
    }
  }
}

.success  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-success;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-success;
    color:@white;
    &:active {
      background-color: @md-color-success-focus;
    }
  }
}

.alert  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-alert;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-alert;
    color:@white;
    &:active {
      background-color: @md-color-alert-focus;
    }
  }
}

.error  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-error;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-error;
    color:@white;
    &:active {
      background-color: @md-color-error-focus;
    }
  }
}