/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/

@color-success: @md-color-success;
@color-success-focus: @md-color-success-focus;
@color-success-light: @md-color-success-light;
@color-info: @md-color-info;
@color-info-focus: @md-color-info-focus;
@color-info-light: @md-color-info-light;
@color-alert: @md-color-alert;
@color-alert-focus: @md-color-alert-focus;
@color-alert-light: @md-color-alert-light;
@color-error: @md-color-error;
@color-error-focus: @md-color-error-focus;
@color-error-light: @md-color-error-light;

//Cambios globales en todas las texturas
.primary, .info, .success, .alert, .error {

  /*Buttons*/
  &.btn-raised, &.btn-float, &.btn-float-mini {
    color:@white;
  }

  /*blockquote*/
  blockquote& {
    color: @white;
    border-left: 0;
  }
}


//Específicos de cada textura
.primary {
  /*Buttons*/
  &.btn-flat, button& {
    color: @brand-color;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @brand-color;
    &:active {
      background-color: @brand-color-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @brand-color;
  }
}

.info {
  /*Buttons*/
  &.btn-flat, button& {
    color: @color-info;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @color-info;
    &:active {
      background-color: @color-info-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @color-info;
  }
}

.success  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @color-success;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @color-success;
    &:active {
      background-color: @color-success-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @color-success;
  }
}

.alert  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @color-alert;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @color-alert;
    &:active {
      background-color: @color-alert-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @color-alert;
  }
}

.error  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @color-error;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @color-error;
    &:active {
      background-color: @color-error-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @color-error;
  }
}