/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/

//Cambios globales en todas las texturas
.primary, .info, .success, .alert, .error {

  /*Buttons*/
  &.btn-raised, &.btn-float, &.btn-float-mini {
    color:@white;
  }

  /*blockquote*/
  blockquote& {
    color: @white;
    border-left: 0;
  }
}


//Específicos de cada textura
.primary {
  /*Buttons*/
  &.btn-flat, button& {
    color: @brand-color;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @brand-color;
    &:active {
      background-color: @brand-color-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @brand-color;
  }
}

.info {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-info;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-info;
    &:active {
      background-color: @md-color-info-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @md-color-info;
  }
}

.success  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-success;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-success;
    &:active {
      background-color: @md-color-success-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @md-color-success;
  }
}

.alert  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-alert;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-alert;
    &:active {
      background-color: @md-color-alert-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @md-color-alert;
  }
}

.error  {
  /*Buttons*/
  &.btn-flat, button& {
    color: @md-color-error;
  }

  &.btn-raised, &.btn-float, &.btn-float-mini {
    background-color: @md-color-error;
    &:active {
      background-color: @md-color-error-focus;
    }
  }

  /*blockquote*/
  blockquote& {
    background-color: @md-color-error;
  }
}