/*------------------------------------*\
    $IMÁGENES
\*------------------------------------*/

@image-path: "../img/";

img {
  border: 0;  /* Elimina el borde dentro de `a` en IE 8/9/10.*/
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}