/*------------------------------------*\
    $BOTONES MATERIAL-DESIGN
\*------------------------------------*/

//https://www.google.com/design/spec/components/buttons.html#buttons-usage
//https://www.google.com/design/spec/components/bottom-sheets.html#bottom-sheets-specs
//https://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button

//Base
.md-button_base {
  position: relative;
  color: $text-color;
  border: 0;
  outline: 0;
  will-change: box-shadow;
  transition: box-shadow 100ms ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    &:hover {
      cursor: not-allowed;
    }
  }
}

  //Estilos para todos los botones rectangulares
  .md-button_base-square {
    height: 36px;
    min-width: 64px;
    padding: 0px 8px;
    margin: 6px 8px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    border-radius: $md-border-radius;
    font-size: $font-size-small;
    &:hover, &:focus {
      @include md-shadow(2);
    }
    &[data-icon]:before {
      margin-right: 8px;
      //      font-size: 16px;
      //      width: 16px;
      //      height: 32px;
      //      line-height: 32px;
      //      vertical-align: bottom;
    }
  }

  //Estilos todos los botones planos
  .md-button_base-flat {
    background-color: transparent;
    &:active {
      background-color: $alpha-50;
    }
    &:disabled {
      &:hover {
        box-shadow: none;
      }
    }
    &:hover, &:focus {
      @include bp-large {
        box-shadow: none;
      }
    }
  }

  //Estilos todos los botones elevados
  .md-button_base-raised {
    @include md-shadow(1);
    background-color: $white;
    &:active {
      background-color: $grey-100;
    }
    &:disabled {
      &:hover {
        @include md-shadow(1);
      }
    }
    &:hover, &:focus {
      @include bp-large {
        @include md-shadow(1);
      }
    }
  }

  //Estilos para todos los botones circulares
  .md-button_base-circle {
    @include md-shadow(2);
    font-size: 26px;
    &:hover, &:focus {
      @include md-shadow(3);
      @include bp-large {
        @include md-shadow(2);
      }
    }
    &:disabled {
      &:hover {
        @include md-shadow(2);
      }
    }
    &[data-icon]:before {
      position: absolute;
      margin: 0;
    }
  }


//Botones planos
.md-btn-flat {
  @extend .md-button_base;
  @extend .md-button_base-square;
  @extend .md-button_base-flat;
}

//Botones elevados
.md-btn-raised {
  @extend .md-button_base;
  @extend .md-button_base-square;
  @extend .md-button_base-raised;
}

//Botones circulares
.md-btn-float {
  @extend .md-button_base;
  @extend .md-button_base-raised;
  @extend .md-button_base-circle;
  @include circle(56px);
  line-height: 56px;
  &[data-icon]:before {
    top: 15px;
    left: 15px;
  }
}

//Botones circulares pequeños
.md-btn-float-mini {
  @extend .md-button_base;
  @extend .md-button_base-raised;
  @extend .md-button_base-circle;
  @include circle(40px);
  line-height: 40px;
  &[data-icon]:before {
    top: 7px;
    left: 7px;
  }
}