/*------------------------------------*\
    $TARJETAS MATERIAL-DESIGN
\*------------------------------------*/

// https://www.google.com/design/spec/components/cards.html#cards-usage

//Medidas genéricas
$card-width: 400px;

.card {
  position: relative; //Es necesario para situar dentro elementos con 'position: absolute'
  width: $card-width;
  margin: 0 14px 20px;
  cursor: pointer;
  text-align: left;
  border-radius: $md-border-radius;
  background-color: $md-color-light;
  will-change: box-shadow;
  @include transition(box-shadow, 200ms);
  @include md-shadow(2);
  @include bp-medium {
    margin-bottom: 20px;
    @include margin-horizontal (10px);
  }
  @include bp-small {
    width: 100%;
  }

  &:hover {
    @include md-shadow(3);
  }
}


//Container ('section' padre de varias cards)
.card_container {
  display: flex;
  width: 100%;

  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}


//Zonas
.card_clickzone {
  color: $text-color;

  &:hover, &:focus {
    text-decoration: none;
    color: $text-color;
  }
  * {
    cursor: pointer;
  }
}

.card_header-big, .card_header-small {
  display: flex;
}

  .card_header_textbox {
    display: flex;
    flex-direction: column;

    flex: 1;
    justify-content: center;
  }


.card_header-big, .card_header-small, .card_content, .card_tags {
  margin: 16px;
}

.card_media {
  position: relative; //Para que se posicione bien el título interno
  padding-bottom: 17.77777778%; //16:9
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:first-child {
    @include border-top-radius(2px);
  }
  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius(2px);
  }

  // Esto es para que conserve el aspect ratio
  // http://nicolasgallagher.com/flexible-css-cover-images/
  &:before {
    display: block;
    padding-bottom: 50%;
    content: "";
  }
}

.card_tags {
  text-align: right;
}


.card_footer {
  margin: 8px;
//  text-align: right;
}


//Elementos
.card_header_avatar {
  display: inline-block;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include circle(40px);
}

.card_header_title-big, .card_header_title-small {
  margin: 0;
}

.card_header_title-big, .card_header_title-media {
  font-size: 24px;
}

.card_header_title-small {
  font-size: $font-size-base;
  font-weight: 600;
}

.card_header_title-media {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 16px;
  margin: 0;
  color: $white;
  background-image: linear-gradient(to top, $alpha-800, $alpha-700, $alpha);
  @include border-bottom-radius(2px);
}


//Temas
.card_theme-dark {
  background-color: $md-color-dark;
  * {
    color: $white;
  }
  small {
    color: $walpha-450;
  }
}
