/*------------------------------------*\
    $CÓDIGO MATERIAL-DESIGN
\*------------------------------------*/

$code-color-bg: $bluegrey-800;
$code-color-comment: $bluegrey-500;
$code-padding: 30px;
$code-padding-small: 20px;

code, pre {
  background-color: $code-color-bg;
  color: $white;
}


//Texto preformateado
pre {
  padding-right: $code-padding;
  @include padding-vertical($code-padding);
  &:not(.line-numbers) {
    padding: $code-padding;
  }

  //  @include bp-small {
  //    padding-right: $code-padding-small;
  //    @include padding-vertical($code-padding-small);
  //    &:not(.line-numbers) {
  //      padding: $code-padding-small;
  //    }
  //  }
}