/*------------------------------------*\
  $FORMULARIOS MATERIAL-DESIGN
\*------------------------------------*/
//https://www.google.com/design/spec/components/text-fields.html

form {
  li {
    display: flex;
    align-items: center;
    min-height: 50px;
  }

  label {
    min-width: 150px;
    @extend small;
  }

  input {
    background-color: transparent;
    @include transition ((border-size, border-color), 200ms);
    &[type="text"],
    &[type="password"],
    &[type="date"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="number"],
    &[type="tel"],
    &[type="search"],
    &[type="time"],
    &[type="url"],
    &[type="datalist"],
    &[type="week"] {
      flex-grow: 1;
      border: 0;
      border-bottom: 1px solid $grey-150;
      font-size: 0.9rem;
      padding: 8px 0px;
      margin: 8px 0px;
      text-transform: lowercase;
    }

    &[type="checkbox"],
    &[type="radio"],
    &[type="file"],
    &[type="color"],
    &[type="image"] {
      @include pointer;
    }

    &[type="range"] {
      &:hover{cursor: col-resize;}
    }

    &[type="number"],
    &[type="date"],
    &[type="week"],
    &[type="datetime-local"],
    &[type="time"] {
      &:hover{cursor: default;}
    }

    &:invalid, &:out-of-range {
      border-bottom-color: $red-500;
    }
    &:hover {
      cursor: text;
    }
    &:focus {
      outline: 0;
      border-bottom-color: $brand-color-focus;
    }
    &:disabled {
      border-bottom-style: dotted;
      opacity: 0.6;
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  [data-icon]:before {
    margin-right: 16px;
    font-size: 16px;
    width: 16px;
    height: 32px;
    line-height: 32px;
    vertical-align: bottom;
  }
}

select {
  background-color: transparent;
  border: 0;
  @include pointer;
  &:focus {
    outline: 0;
  }
}

textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $grey-150;
  font-size: 0.9rem;
  &:hover {
    cursor: text;
  }
  &:focus {
    outline: 0;
    border-bottom-color: $brand-color-focus;
  }
}