/*------------------------------------*\
    $LISTAS MATERIAL-DESIGN
\*------------------------------------*/

//http://www.google.com/design/spec/components/lists.html#lists-specs

/*
 * Colocar en un DIV padre de los UL.
 */
.md-list {
  background-color: $md-color-light;
  ul {
    padding: 8px 0;
    margin-bottom: 0;
    list-style-type: none;
    &:not(:last-child) {
      border-bottom: 1px solid $grey-100;
    }
  }

  li {
    display: flex;
  }

  a {
    padding: 0 16px;
    line-height: 48px;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    &:first-child {
      flex: 1;
      &[data-number]:after {
        float: right;
        content: attr(data-number);
        color: $grey-400;
      }
    }
    &:hover,
    &:focus,
    &.md-list-active {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      background-color: $md-color-light-hover;
    }
  }

  //Iconos
  [data-icon]:before {
    width: 24px;
    height: 48px;
    margin-right: 32px;
    font-size: 24px;
    line-height: 48px;
    vertical-align: middle;
    color: $grey-500;
  }

  //Botón extra
  .md-list-addon {
    width: 48px;
    padding: 0;
    &[data-icon]:before {
      width: 24px;
      padding-right: 12px;
      padding-left: 12px;
      margin-right: 0;
    }
  }

  //Puedes añadir barras separadoras, dentro del mismo '<ul>'
  hr {
    border-top: 1px solid $grey-100;
    margin: 8px 0;
  }
}



//Añadir esta clase a un '<span>' justo antes de un '<ul'> para poner un titulo
.md-list-title {
  display: block;
  height: 24px;
  padding-top: 8px;
  margin-left: 15px;
  font-size: 0.75rem;
  line-height: 24px;
  color: $grey-400;
}


//Lista pequeña
/**
 * Colocar directamente en los UL.
 */
.md-list-small {
  padding: 8px 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: $md-color-light;
  &:not(:last-child) {
    border-bottom: 1px solid $grey-100;
  }

  ul {
    padding-bottom: 8px;
    margin-left: 0;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 0 16px;
    line-height: 32px;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      background-color: $md-color-light-hover;
    }
    &[data-number]:after {
      float: right;
      content: attr(data-number);
      color: $grey-400;
    }
  }

  [data-icon]:before {
    width: 16px;
    height: 32px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 32px;
    vertical-align: bottom;
  }

  //Puedes añadir barras separadoras, dentro del mismo '<ul>'
  hr {
    border-top: 1px solid $grey-100;
    margin: 8px 0;
  }
}

//Temas
.md-list_theme-dark {
  background-color: $md-color-dark;

  * {
    color: $white;
  }

  ul {
    &:not(:last-child) {
      border-bottom: 1px solid $bluegrey-700;
    }
  }

  a {
    &:first-child {
      &[data-number]:after {
        color: $bluegrey-100;
      }
    }
    &:hover,
    &:focus,
    &.md-list-active {
      background-color: $md-color-dark-hover;
    }
  }

  .md-list-title {
    color: $bluegrey-400;
  }

  [data-icon]:before {
    color: $bluegrey-100;
  }
}
