/*------------------------------------*\
    $TABLAS MATERIAL-DESIGN
\*------------------------------------*/

//https://www.google.com/design/spec/components/data-tables.html#data-tables-tables-within-cards

table {
  width: 100%;

  caption {
    margin-bottom: 15px;
    font-style: italic;
  }

  thead {
    border-bottom: 1px solid $grey-100;
    font-size: $font-size-small;
    color: $grey-500;
    tr {
      height: 56px;
    }
  }

  tr {
    height: 48px;
  }

  th, td {
    padding: 0 10px;
  }

  //Con sombreado una linea si y otra no
  &.stripped {
    tbody {
      tr:nth-child(2n-1) {
        background-color: $grey-100;
      }
    }
  }

  //Con bordes
  &.bordered {
    tbody {
      tr {
        border-bottom: 1px solid $grey-100;
      }
    }
  }

  //Con efecto hover toda la fila
  &.hoverable {
    tbody {
      tr {
        &:hover {
          background-color: $grey-100;
          td {
            cursor: pointer;
          }
        }
      }
    }
  }

  &.centered {
    text-align: center;
  }
}
