$bp-large: 1024px; // => Tablet horizontal
$bp-medium: 800px; // => Tablet Vertical & Móvil Horizontal
$bp-small: 450px; // => Móvil Vertical

@mixin bp-large {
  @media only screen and (max-width: $bp-large) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: $bp-medium) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: $bp-small) {
    @content;
  }
}