/*------------------------------------*\
    $BASE
\*------------------------------------*/

//Variables globales
$brand-color           : $teal-500;
$brand-color-focus     : $teal-400;
$brand-color-active    : $teal-300;
$brand-color-light     : $teal-50;
$brand-color-alt       : $amber-500;
$brand-color-alt-focus : $amber-400;
$brand-color-alt-active: $amber-300;
$brand-color-alt-light : $amber-50;

$border-radius: 2px;

//Interfaz
$max-width: 1366px; // => PC & Tablet Horizontal
$wrapper-width: 700px;

* {
  box-sizing: border-box;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
* Establece el alto de 'html' y de 'body' igual al de la pantalla.
* Es útil para fondos grandes, o para elementos que tengan
* que ocupar toda la pantalla. En Google Chrome en Android falla porque
* al hacer scroll aparece y desaparece la barra superior del navegador.
*/
html, body {
  height:100%;
}


body {
  margin: 0 auto;
  background-color: $grey-50;
}


