/*------------------------------------*\
    $STANDARD
\*------------------------------------*/

//Contenido que se entiende por sí solo. imágenes, código, etc.
figure {
  @include margin-horizontal(0);
  width: 100%;
  }


//Leyenda de 'figure'
figcaption {
  @extend small;
  padding-top: 5px;
  font-style: italic;
}


img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;  /* Elimina el borde dentro de `a` en IE 8/9/10.*/
  vertical-align: middle;
}


code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;

  * {
    cursor: text;
  }
}

code,
kbd {
  display: inline-block;
  padding: 1px 5px;
  font-size: $font-size-base * 000000.9;
  line-height: $line-height-base;
}

kbd {
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px $grey-150;
}

//Texto preformateado
pre {
  display: block;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: left;
}


//Línea
hr {
  display: block;
  clear: both;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid $grey-150;
  margin: 3rem 0;
  box-sizing: content-box; /* Consistencia entre navegadores */
}
