/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/

//A continuación se definen todas las variables relativas a la tipografía
//Fuente
$font-family-sans-serif: 'Roboto', 'Open Sans', sans-serif;
$font-family-serif     : Georgia, 'Times New Roman', Times, serif;
$font-family-monospace : 'inconsolata', monospace;

$font-family-base     : $font-family-sans-serif;
$font-family-base-alt : 'Roboto Condensed', sans-serif;
$font-family-title    : 'Roboto Condensed', sans-serif;
$font-family-title-alt: $font-family-title;

//Color texto
$text-color      : $grey-700;
$text-color-dark : $grey-800;
$text-color-light: $alpha-450;

//Color links
$link-color        : $brand-color;
$link-color-hover  : $brand-color-focus;
$link-color-active : $brand-color-active;
$link-color-visited: $link-color;

//Tamaños de letra
$font-size-base : 1rem; //~16px
$font-size-large: $font-size-base*1.2; //~19px
$font-size-small: $font-size-base*0.85; //~14px

$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.7rem;
$font-size-h4: 1.3rem; //~20px - Title
$font-size-h5: 1rem; //~16px
$font-size-h6: 1rem;

//Grosores de letra. Hai que axustalos se cambiamos a tipografía.
//Roboto 100, 300, 400, 500, 700, 900
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;

$font-weight-h1: 500;
$font-weight-h2: 500;
$font-weight-h3: 500;
$font-weight-h4: 500;
$font-weight-h5: 500;
$font-weight-h6: 500;

//Márgenes y altos de línes
$headings-margin-top   : 1em;
$headings-margin-bottom: .5em;
$line-height-base      : 1.5em; //Alto de línea para párrafos y listas
$margin-bottom-base    : 2em;

//Separación entre letras
$letter-spacing-narrow: -0.05em;
$letter-spacing-wide  : 0.05em;

//Separación entre palabras
$word-spacing-narrow: -0.05em;
$word-spacing-wide  : 0.05em;


/**
 * ENCABEZADOS
 * Las clases con nombre de encabezados sirven para dar un estilo de un
 * encabezado a otro. Para cambiar el estilo visual manteniendo una correcta
 * semántica del HTML.
 */

h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-title;
  text-rendering: optimizeLegibility;
  margin-top: $headings-margin-top;
  margin-bottom: $headings-margin-bottom;
}

h1, .h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
}

h5, .h5 {
  font-size  : $font-size-h5;
  font-weight: $font-weight-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-h6;
}


a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color : $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}


body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
}

p,
ul,
ol,
dl,
table,
address,
form,
figure{
  text-align: left;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin-top: 0;
  &:not(:last-child) {
    margin-bottom: $margin-bottom-base;
  }
}


/**
* Los párrafos con la clase '.story' se identarán y la primera letra será más
* grande. También se puede aplicar a un elemento padre.
*/

.story p,
p.story {
  text-indent: 30px;
  &:first-letter {
    font-size: 2em;
  }
}


b, strong {
  font-weight: $font-weight-bold;
}

i, em {
  font-style: italic;
}


/**
* Previene que `sub` y `sup` sean afectados por
* `line-height` en todos los navegadores
*/
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}


small, .small {
  font-size  : $font-size-small;
  font-weight: $font-weight-base;
  color      : $text-color-light;
}


cite {
  font-style: italic;
}


mark {
  background-color: yellow;
  color: inherit;
}


abbr {
  text-transform: uppercase;
  &[title] {
    border-bottom: 1px dotted $text-color;
    &:hover {cursor: help;}
  }
}


dfn {
  font-style: italic;
}

code, kbd, samp {
  cursor: text;
}


/**
* LISTAS
* El 'padding-left' elimina los estilos predefinidos de algunos navegadores
*/

ul,
ol {
  padding-left: 0;
  list-style-position:inside;

  //Listas anidadas
  li>& {
    text-indent: 40px;
    margin-bottom: inherit;
  }
}

dt {
  font-weight: $font-weight-bold;
}


/* Se pueden aplicar texturas. Ver 'libraries/_textures.scss' */
blockquote{
  margin: 0;
  padding: 40px;
  font-size: $font-size-large;
  font-style: italic;
  color: $text-color-light;
  line-height: $line-height-base;
  &:not(:last-child) {
    margin-bottom: $margin-bottom-base;
  }
  p {
    margin-bottom: 0;
  }
  footer {
    margin-top: .5em;
    font-size: $font-size-small;
    opacity: 0.6;
    a {
      color: inherit;
      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }
    }
  }

  @include bp-small {
    padding: 20px;
  }
}

q {
  &:before {content: "«";}
  &:after {content: "»";}
}


address {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid $text-color;
  font-style: italic;
}