/*------------------------------------*\
    $NAVBAR MATERIAL-DESIGN
\*------------------------------------*/

//https://www.google.com/design/spec/components/tabs.html
//https://www.google.com/design/spec/components/toolbars.html#toolbars-usage
//https://www.google.com/design/spec/layout/structure.html#structure-toolbars

$md-navbar-transition: 200ms;

//Navbar General
.md-navbar {
  position: fixed;
  z-index: 97;
  width: 100%;
  font-size: 24px;
  will-change: box-shadow;
  transition: box-shadow $md-navbar-transition ease-in-out;
  //Tema por defecto
  color: $white;
  background-color: $brand-color;
  @include md-shadow(2);
  &:not(.md-navbar_variant-nofixed).md-navbar-scrolled {
    @include md-shadow(3);
  }
}


//Elementos
.md-navbar_button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $white;
  border-radius: 100%;
  @include bp-large {
    &:hover,
    &:focus {
      background-color: inherit;
    }
    &:active {
      background-color: $walpha-100;
    }
  }

  &:hover,
  &:focus {
    background-color: $walpha-100;
  }
  &:active {
    background-color: $walpha-200;
  }

  &[data-icon]:before {
    padding: 12px;
    color: $white;
  }

  &[data-badge]:after {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    content: attr(data-badge);
    text-align: center;
    color: $white;
    border-radius: 100%;
    background-color: $red-800;
  }
}

.md-navbar_title {
  margin: 0;
  font-size: 20px;
}


//Zonas
.md-navbar_toolbar {
  display: flex;
  height: 64px;
  align-items: center;
  @include bp-medium {
    height: 56px;
  }
}

.md-navbar_toolbar-left {
  margin-left: 12px;
  @include bp-small {
    margin-left: 2px;
  }
}

.md-navbar_toolbar-center {
  margin-left: 20px;
  overflow-x: auto;
  flex: 1;
  white-space: nowrap;
  @include bp-small {
    margin-left: 10px;
    &:last-child {
      margin-right: 10px;
    }
  }
  &:last-child {
    margin-right: 20px;
  }
}

.md-navbar_toolbar-right {
  margin-right: 12px;
  @include bp-small {
    margin-right: 2px;
    a:not(:last-child) {
      margin-right: -10px;
    }
  }
}


//Variantes
//La barra de navegación no se queda fija al hacer scroll
.md-navbar_variant-nofixed {
  position: absolute;
}

//La barra de navegación es grande
.md-navbar_variant-big {
  .md-navbar_toolbar {
    padding-bottom: 136px; //En pantallas grandes, 300px de tamaño total del navbar
    box-sizing: content-box; //Para que al añadir el padding, no se vea mal por el align-content
    will-change: padding-bottom;
    transition: padding-bottom $md-navbar-transition ease-in-out;
  }
  .md-navbar_toolbar-center {
    transform: translateY(70px) scale(2);
    transform-origin: top left;
  }
  &:not(.md-navbar_variant-nofixed).md-navbar-scrolled {
    .md-navbar_toolbar {
      padding-bottom: 0;
    }
    .md-navbar_toolbar-center {
      transform: translateY(0) scale(1);
    }
  }
}


//Temas
.md-navbar_theme-transparent {
  background-color: transparent;
  .md-navbar_button {
    @include bp-medium {
      &:hover,
      &:focus {
        background-color: inherit;
      }
      &:active {
        background-color: $alpha-400;
      }
    }
    &:hover,
    &:focus {
      background-color: $alpha-500;
    }
    &:active {
      background-color: $alpha-400;
    }
  }
}

.md-navbar_theme-white {
  color: $text-color;
  background-color: $white;
  .md-navbar_button {
    @include bp-medium {
      &:hover,
      &:focus {
        background-color: inherit;
      }
      &:active {
        background-color: $alpha-200;
      }
    }
    &:hover,
    &:focus {
      background-color: $alpha-200;
    }
    &:active {
      background-color: $alpha-100;
    }

    &[data-icon]:before {
      color: $text-color;
    }
  }

  .md-navbar_tab_item {
    color: $text-color;
    &:hover, &:focus, &.md-navbar_tab_item-active {
      border-bottom-color: $grey-500;
      color: $text-color;
    }
  }
}

.md-navbar_theme-blue {
  background-color: $blue-500;
}

[class*="navbar_theme-image"] {
  background-repeat: no-repeat;
  background-position: center;
//  background-size: cover;
  .md-navbar_button {
    @include bp-medium {
      &:hover,
      &:focus {
        background-color: inherit;
      }
      &:active {
        background-color: $alpha-300;
      }
    }
    &:hover,
    &:focus {
      background-color: $alpha-200;
    }
    &:active {
      background-color: $alpha-300;
    }
  }
}

.md-navbar_theme-image-xyz {
  background-image: url(../img/xyz.jpg);
}

/**
 * Imágenes de unsplash.com
 */

.md-navbar_theme-image-random {
  background-image: url("https://source.unsplash.com/random/1600x200");
}

.md-navbar_theme-image-buildings {
  background-image: url("https://source.unsplash.com/category/buildings/1600x200");
}

.md-navbar_theme-image-food {
  background-image: url("https://source.unsplash.com/category/food/1600x200");
}

.md-navbar_theme-image-nature {
  background-image: url("https://source.unsplash.com/category/nature/1600x200");
}

.md-navbar_theme-image-people {
  background-image: url("https://source.unsplash.com/category/people/1600x200");
}

.md-navbar_theme-image-technology {
  background-image: url("https://source.unsplash.com/category/technology/1600x200");
}

.md-navbar_theme-image-objects {
  background-image: url("https://source.unsplash.com/category/objects/1600x200");
}

/**
* Puedes añadir las imágenes de fondo dinámicamente con algún CMS poniendo
* la ruta de la imagen en el propio HTML.
<nav class="navbar  navbar_theme-image" style="background-image: url(src/img/xyz.jpg);">
*/


// Tabs
.md-navbar_tab {
  display: inline-flex;
  height: 48px;
  margin-left: 68px;
  overflow-x: auto;
  flex-wrap: nowrap;
  @include bp-medium {
    display: flex;
    margin-left: 0;
    text-align: center;
  }
}

.md-navbar_tab_item {
  min-width: 130px;
  padding: 0 12px;
  border-bottom: 2px solid $alpha;
  flex-grow: 1;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.6;
  color: $white;

  &:hover, &:focus, &.md-navbar_tab_item-active {
    border-bottom: 2px solid $brand-color-alt;
    text-decoration: none;
    opacity: 1;
    color: $white;
  }

  &:hover, &:focus {
    background-color: $alpha-100;
  }
}
