//Botón flotante
//https://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button


@animationTime: 200ms;

.md-action-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;

  &>button {
    transition: transform @animationTime ease-in-out ;
    z-index: 97;
  }

  &.open {
    &>button {
      transform: rotate(45deg);
    }

    .action-button-content {
      display: flex;
      opacity: 1;
    }
  }

  .action-button-content {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    transition: opacity @animationTime ease-in-out ;
    opacity: 0;
  }
}

