//Botones
//http://www.google.com/design/spec/components/buttons.html

//Base
.md-base() {
  position: relative;
  height: 36px;
  padding: 0px 12px;
  margin: 6px 4px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-radius: @md-border-radius;
  font-size: @font-size-small;
  transition-duration: 0.1s;
  will-change: box-shadow;
  .transition(box-shadow;);
  &:hover, &:focus {
    .shadow(2);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(0,0,0,0.05);
  }
  &:disabled,
  &[disabled],
  &.disabled {
    opacity: 0.5;
    &:hover {
      cursor: not-allowed;
    }
  }
  &[data-icon]:before {
    margin-right: 8px;
  }
}

//Botones planos
.md-flat() {
  .md-base();
  background-color: transparent;
  &:hover, &:focus {
    @media (max-width: @bp-medium) {
      box-shadow: none;
    }
  }
  &:disabled,
  &[disabled],
  &.disabled {
    &:hover {
      box-shadow: none;
    }
  }
}

//Botones elevados
.md-raised() {
  .md-base();
  .shadow(1);
  background-color: @white;
  &:hover, &:focus {
    @media (max-width: @bp-medium) {
      .shadow(1);
    }
  }
  &:disabled,
  &[disabled],
  &.disabled {
    &:hover {
      .shadow(1);
    }
  }
}

//Botones circulares
.md-float() {
  .md-raised();
  .circle(56px);
  line-height: 56px;
  font-size: 26px;
  &[data-icon]:before {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0;
  }
}

//Botones circulares pequeños
.md-float-mini() {
  .md-raised();
  .circle(40px);
  line-height: 40px;
  font-size: 26px;
  &[data-icon]:before {
    position: absolute;
    top: 7px;
    left: 7px;
    margin: 0;
  }
}