//Tarjetas
//http://www.google.com/design/spec/components/cards.html#cards-behavior

.md-card() {
  position: relative; //Es necesario para situar dentro elementos con 'position: absolute'
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: @white;
  border-radius: @md-border-radius;
  padding: 16px;
  margin-bottom: 30px;
  .margin-horizontal (14px);
  .shadow(2);
  h3 {
    margin-top: 0;
  }
  footer {
    text-align: right;
    margin-top: 24px;
    button {
      .margin-vertical(0);
    }
  }

  //Tarjetas oscuras
  &[class*="dark"] {
    background-color: @bg-dark;
    color: @white;
    h3 {
      color: @white;
    }
  }

  //Tarjetas con imagen de fondo
  &[class*="image"]  {
    padding: 0;
    padding-bottom: 16px;
    h3, p, footer {
      .padding-horizontal(16px;)
    }
  }

    .title-background {
      position: relative;
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 32px;
      h3 {
        color: @white;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        &.title-shadow {
          width: 100%;
          background: linear-gradient( 0deg, @alpha-150, @alpha );
          padding-top: 20px;
          padding-bottom: 5px;
        }
      }
    }

  //Estilos para las tarjetas que además son un enlace en sí mismas
  &[class*="link"] {
    .transition (box-shadow;);
    will-change: box-shadow;
    transition-duration: 0.1s;
    cursor: pointer;

    /**
    * Debes poner aquí todos los elementos que estén dentro de tus
    * tarjetas que a su vez son todas ellas un enlace.
    * Así evitamos el uso del selector global '*'.
    * Además, se desaconseja poner enlaces o botones dentro
    * de estas tarjetas.
    */
    h3, p {
      color: @text-color;
      cursor: pointer;
    }

    &:hover, &:focus {
      .shadow(3);
    }
  }

  //Mediaqueries
  @media (max-width: @bp-medium) {
    margin-bottom: 20px;
    .margin-horizontal (10px);
  }
}