//Barra de navegacion

.md-navbar() {
  position: fixed;
  width: 100%;
  background-color: @brand-color;
  font-size: 24px;
  color: @white;
  z-index: 97;
  .shadow(1);

  a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: @white;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: @brand-color-focus;
    }
    &:active {
      background-color: @brand-color-active;
    }

    @media (max-width: @bp-medium) {
      &:hover,
      &:focus {
        background-color: inherit;
      }
      &:active {
        background-color: @brand-color-focus;
      }
    }
  }

    [data-icon]:before {
      padding: 16px;
      color: @white;
    }

  p {
    display: inline-block;
    font-size: 20px;
  }

  [data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    background-color: @red-800;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    top: 7px;
    right: 9px;
    text-align: center;
  }

  //Navbar main
  .navbar-main {
    display: flex;
    align-items: center;
    height: 56px;

    a  {
      border-radius: 100%;
    }

    //Icono de hamburguesa o atrás
    .navbar-main_left {
      width: auto;
      margin-left: 10px;

      @media (max-width: @bp-small) {
        margin-left: 0;
      }
    }

    //Texto del título
    .navbar-main_center {
      flex: 1;
      margin-left: 28px;
      overflow-x: auto;
      white-space: nowrap;

      @media (max-width: @bp-medium) {
        margin-left: 16px;
      }
    }

    //Iconos con acciones secundarias
    .navbar-main_right {
      width: auto;
      margin-right: 10px;

      @media (max-width: @bp-small) {
        margin-right: 0;
        a {
          &:not(:last-child) {
          margin-right: -14px;
          }
        }
      }
    }
  }

  //Título grande. Es recomendable ocultar el título
  // de 'navbar-default
  .navbar-title {
    height: 100px;
    p {
      font-size: 2.5rem;
      margin-left: 28px;
      line-height: 86px
    }

    @media (max-width: @bp-medium) {
      display: none;
    }
  }

  // Tabs
  .navbar-tabs {
    height: 48px;
    margin-left: 16px;
    overflow-x: auto;
    white-space: nowrap;

    a {
      font-size: 14px;
      padding: 0 12px;
      line-height: 46px;
      border-bottom: 2px solid @alpha;
      text-transform: uppercase;
      opacity: 0.6;

      &:hover, &.tab-active {
        border-bottom: 2px solid @white;
        opacity: 1;
      }
    }

    @media (max-width: @bp-medium) {
      text-align: center;
    }

    @media (max-width: @bp-small) {
      margin-left: 0px;
    }
  }
}

