//Flat UI Colors

//http://www.flatuicolorpicker.com/all
//https://flatuicolors.com/
//http://bootflat.github.io/color-picker.html

//Rojo - Rosa
$pomegranate       : #f22613;
$thunderbird       : #d91e18;
$old_brick         : #96281b;
$monza             : #cf000f;
$flamingo          : #ef4836;
$true_red          : #8F1D21;
$tall_poppy        : #c0392b;
$cochineal_red     : #9D2933;
$scarlet           : #CF3A24;
$red_orange        : #DC3023;
$pure_crimson      : #C3272B;
$foreign_crimson   : #C91F37;
$cinnabar          : #e74c3c;
$sunset_orange     : #f64747;
$valencia          : #d64541;
$chestnut_rose     : #d24d57;
$medium_crimson    : #C93756;
$cabaret           : #d2527f;
$razzmatazz        : #db0a5b;
$radical_red       : #F62459;
$radical_red       : #f62459;
$sunglo            : #e26a6a;
$peach_colored     : #F47983;
$red_plum_colored  : #DB5A6B;
$new_york_pink     : #e08283;
$wax_flower        : #f1a9a0;
$washed_out_crimson: #FFB3A7;
$iris_wing         : #F58F84;

//Violeta
$rebeccapurple : #663399;
$honey_flower  : #674172;
$bellflower    : #5D3F6A;
$iris          : #763568;
$violet        : #5B3256;
$plum          : #913d88;
$seance        : #9a12b3;
$medium_purple : #bf55ec;
$studio        : #8e44ad;
$wisteria      : #9b59b6;
$tatarian_aster: #8D608C;
$light_wisteria: #be90d4;
$wistful       : #aea8d3;
$snuff         : #dcc6e0;


//Azul
$ebony_clay       : #22313F;
$madison          : #2C3E50;
$pickled_bluewood : #34495E;
$ming             : #336E7B;
$hanada           : #044F67;
$navy_blue        : #003171;
$jacksons_purple  : #1F3A93;
$chambray         : #3A539B;
$lapis_lazuli     : #1F4788;
$san_marino       : #446CB3;
$belize_hole      : #2980b9;
$royal_blue       : #4183D7;
$picton_blue      : #59ABE3;
$shakespeare      : #52B3D9;
$fountain_blue    : #5C97BF;
$jordy_blue       : #89C4F4;
$spray            : #81CFE0;
$picton_blue_dark : #22A7F0;
$curious_blue     : #3498DB;
$dodger_blue      : #19B5FE;
$medium_turquoise : #4ECDC4;
$malibu           : #6BB9F0;
$curious_blue_dark: #1E8BC3;
$jelly_bean       : #2574A9;
$steel_blue       : #4B77BE;
$hoki             : #67809F;
$sky              : #4D8FAC;
$ultramarine      : #5D8CAE;
$light_green_blue : #48929B;
$thousand_herb    : #317589;
$alice_blue       : #E4F1FE;
$humming_bird     : #C5EFF7;

//Verde
$green_bamboo          : #006442;
$patina                : #407A52;
$eucalyptus            : #26a65b;
$ocean_green           : #4daf7c;
$jade                  : #00b16a;
$nephritis             : #27ae60;
$salem                 : #1e824c;
$emerald               : #3fc380;
$shamrock              : #2ecc71;
$gossip                : #87d37c;
$siskin_sprout_yellow  : #7A942E;
$young_green_onion     : #8DB255;
$fresh_onio            : #5B8930;
$young_bamboo          : #6B9362;
$green_sea             : #16a085;
$observatory           : #049372;
$medium_aquamarine     : #66cc99;
$silver_tree           : #68c3a3;
$downy                 : #65c6bb;
$turquoise             : #36d7b7;
$light_sea_green       : #1ba39c;
$mountain_meadow       : #1bbc9b;
$caribbean_green       : #03c9a9;
$green_haze            : #019875;
$turquoise_old         : #1abc9c;
$free_speech_aquamarine: #03a678;
$niagara               : #2abb9b;
$jungle_green          : #26c281;
$riptide               : #86e2d5;
$madang                : #c8f7c5;
$aqua_island           : #a2ded0;
$dark_sea_green        : #90c695;
$gossip                : #87D37C;

//Amarillo - Naranja
$burnt_orange        : #d35400;
$ecstasy             : #f9690e;
$amber               : #CA6924;
$tahiti_gold         : #e87e04;
$california          : #f89406;
$crusta              : #f2784b;
$jaffa_dark          : #f27935;
$zest                : #e67e22;
$fire_bush           : #eb9532;
$jaffa               : #eb974e;
$rapessed_oil        : #A17917;
$sumac_dyed          : #E08A1E;
$bright_golden       : #FFA400;
$buttercup           : #f39c12;
$patrina_flowers     : #D9B611;
$gamboge             : #FFB61E;
$ripe_lemon          : #f7ca18;
$sun_flower          : #f1c40f;
$ripe_lemon          : #F7CA18;
$lightning_yellow    : #f5ab35;
$saffron             : #f4d03f;
$casablanca          : #f4b350;
$sandstorm           : #f9bf3b;
$amur_cork_tree      : #F3C13A;
$japanese_trindra    : #E2B13C;
$corn_colored        : #FAA945;
$egg_colored         : #FFA631;
$floral_leaf         : #FFB94E;
$golden_fallen_leaves: #E29C45;
$cream_can           : #f5d76e;
$cape_honey          : #fde3a7;

//Gris
$asbestos   : #7f8c8d;
$cascade    : #95A5A6;
$lynch      : #6C7A89;
$silver     : #BFBFBF;
$edward     : #ABB7B7;
$silver_sand: #BDC3C7;
$white_smoke: #ececec;
$pumice     : #D2D7D3;
$gallery    : #EEEEEE;
$porcelain  : #ECF0F1;
$iron       : #DADFE1;
$cararra    : #F2F1EF;