//Escala de grises
$black : #000;
$white : #fff;

$grey-50 : #f2f2f2;
$grey-100: #e6e6e6;
$grey-150: #d9d9d9;
$grey-200: #cccccc;
$grey-250: #bfbfbf;
$grey-300: #b3b3b3;
$grey-350: #a6a6a6;
$grey-400: #999999;
$grey-450: #8c8c8c;
$grey-500: #808080;
$grey-550: #737373;
$grey-600: #666666;
$grey-650: #595959;
$grey-700: #4d4d4d;
$grey-750: #404040;
$grey-800: #333333;
$grey-850: #262626;
$grey-900: #1a1a1a;
$grey-950: #0d0d0d;

//Colores translúcidos base negro
$alpha    : rgba(0, 0, 0, 0);
$alpha-50 : rgba(0, 0, 0, 0.05);
$alpha-100: rgba(0, 0, 0, 0.1);
$alpha-150: rgba(0, 0, 0, 0.15);
$alpha-200: rgba(0, 0, 0, 0.2);
$alpha-250: rgba(0, 0, 0, 0.25);
$alpha-300: rgba(0, 0, 0, 0.3);
$alpha-350: rgba(0, 0, 0, 0.35);
$alpha-400: rgba(0, 0, 0, 0.4);
$alpha-450: rgba(0, 0, 0, 0.45);
$alpha-500: rgba(0, 0, 0, 0.5);
$alpha-550: rgba(0, 0, 0, 0.55);
$alpha-600: rgba(0, 0, 0, 0.6);
$alpha-650: rgba(0, 0, 0, 0.65);
$alpha-700: rgba(0, 0, 0, 0.7);
$alpha-750: rgba(0, 0, 0, 0.75);
$alpha-800: rgba(0, 0, 0, 0.8);
$alpha-850: rgba(0, 0, 0, 0.85);
$alpha-900: rgba(0, 0, 0, 0.9);
$alpha-950: rgba(0, 0, 0, 0.95);

//Colores translúcidos base blanco
$walpha    : rgba(255, 255, 255, 0);
$walpha-50 : rgba(255, 255, 255, 0.05);
$walpha-100: rgba(255, 255, 255, 0.1);
$walpha-150: rgba(255, 255, 255, 0.15);
$walpha-200: rgba(255, 255, 255, 0.2);
$walpha-250: rgba(255, 255, 255, 0.25);
$walpha-300: rgba(255, 255, 255, 0.3);
$walpha-350: rgba(255, 255, 255, 0.35);
$walpha-400: rgba(255, 255, 255, 0.4);
$walpha-450: rgba(255, 255, 255, 0.45);
$walpha-500: rgba(255, 255, 255, 0.5);
$walpha-550: rgba(255, 255, 255, 0.55);
$walpha-600: rgba(255, 255, 255, 0.6);
$walpha-650: rgba(255, 255, 255, 0.65);
$walpha-700: rgba(255, 255, 255, 0.7);
$walpha-750: rgba(255, 255, 255, 0.75);
$walpha-800: rgba(255, 255, 255, 0.8);
$walpha-850: rgba(255, 255, 255, 0.85);
$walpha-900: rgba(255, 255, 255, 0.9);
$walpha-950: rgba(255, 255, 255, 0.95);