/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/

//A continuación se definen todas las variables relativas a la tipografía
//Fuente
@font-family-sans-serif: "Roboto", sans-serif;
@font-family-serif     : Georgia, "Times New Roman", Times, serif;
@font-family-monospace : monospace;

@font-family-base     : @font-family-sans-serif;
@font-family-base-alt : @font-family-base;
@font-family-title    : 'Roboto Condensed', sans-serif;
@font-family-title-alt: @font-family-title;

//Color texto
@text-color      : @grey-700;
@text-color-dark : @grey-800;
@text-color-light: @grey-450;

//Color links
@link-color        : @brand-color;
@link-color-hover  : @brand-color-focus;
@link-color-active : @brand-color-active;
@link-color-visited: @link-color;

//Tamaños de letra
@font-size-base : 1rem; //~16px
@font-size-large: @font-size-base*1.2; //~19px
@font-size-small: @font-size-base*0.85; //~14px

@font-size-h1: 3rem;
@font-size-h2: 2rem;
@font-size-h3: 1.7rem;
@font-size-h4: 1.3rem; //~20px - Title
@font-size-h5: 1rem; //~16px
@font-size-h6: 1rem;

//Grosores de letra. Hai que axustalos se cambiamos a tipografía.
//Roboto 100, 300, 400, 500, 700, 900
@font-weight-base: 400;
@font-weight-bold: 700;
@font-weight-thin: 100;

@font-weight-h1: 500;
@font-weight-h2: 500;
@font-weight-h3: 500;
@font-weight-h4: 500;
@font-weight-h5: 500;
@font-weight-h6: 500;

//Márgenes y altos de línes
@headings-margin-top     : 1em;
@headings-margin-bottom  : .5em;
@line-height-base        : 1.5em; //Alto de línea para párrafos y listas
@margin-bottom-base      : 2em;

//Separación entre letras
@letter-spacing-narrow: -0.05em;
@letter-spacing-wide  : 0.05em;

//Separación entre palabras
@word-spacing-narrow: -0.05em;
@word-spacing-wide  : 0.05em;


/**ENCABEZADOS
 * Las clases con nombre de encabezados sirven para dar un estilo de un
 * encabezado a otro, para cambiar el estilo visual manteniendo una correcta
 * semántica del HTML.
 */

 h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @font-family-title;
  text-rendering: optimizeLegibility;
  margin-top: @headings-margin-top;
  margin-bottom: @headings-margin-bottom;
}

h1, .h1 {
  font-size: @font-size-h1;
  font-weight: @font-weight-h1;
}

h2, .h2 {
  font-size: @font-size-h2;
  font-weight: @font-weight-h2;
}

h3, .h3 {
  font-size: @font-size-h3;
  font-weight: @font-weight-h3;
}

h4, .h4 {
  font-size: @font-size-h4;
  font-weight: @font-weight-h4;
}

h5, .h5 {
  font-size  : @font-size-h5;
  font-weight: @font-weight-h5;
}

h6, .h6 {
  font-size: @font-size-h6;
  font-weight: @font-weight-h6;
}


//Links
a {
  color: @link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color : @link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}


/**
 * Formato básico de elemento del texto
 */
p,
ul,
ol,
dl,
table,
address,
form {
  text-align: left;
  font-weight  : @font-weight-base;
  line-height  : @line-height-base;
  margin-top: 0;
  &:not(:last-child) {
    margin-bottom: @margin-bottom-base;
  }
}


/**
 * Los párrafos con la clase '.story' se identarán y la primera letra será más
 * grande. También se puede aplicar a un elemento padre.
 */

.story p,
p.story {
  text-indent: 30px;
  &:first-letter {
    font-size: 2em;
  }
}


/**LISTAS
 * El 'padding-left' elimina los estilos predefinidos de algunos navegadores
 */

ul,
ol {
  padding-left: 0;
  list-style-position:inside;

  //Listas anidadas
  li>& {
    text-indent: 40px;
    margin-bottom: inherit;
  }
}

/* Van dentro de un 'dl' */
dt {
  font-weight: @font-weight-bold;
  &:after {content: ":";}
}

dd {
  text-indent: 20px;
}


//Negrita y cursiva
b, strong {
  font-weight: @font-weight-bold;
}

i, em {
  font-style: italic;
}


//Small. Está como mixing para poder aplicarlo también a outros elementos.
.small() {
  font-size  : @font-size-small;
  font-weight: @font-weight-base;
  color      : @text-color-light;
}

small {
  .small;
}


//Cita (cita o nombra al autor o creador de algo)
cite {
  font-style: italic;
}


//Texto resaltado
mark {
  background-color: yellow;
  color: inherit;
}


//Abreviatura
abbr {
  text-transform: uppercase;
  &[title] {
    border-bottom: 1px dotted @text-color;
    &:hover {cursor: help;}
  }
}


//Definicion
dfn {
  font-style: italic;
}


/**
 * Se pueden aplicar texturas. Ver 'libraries/textures.less'
 */
blockquote{
  margin: 20px;
  padding: 40px;
  font-size: @font-size-large;
  font-style: italic;
  color: @text-color-light;
  line-height: @line-height-base;
  border-radius: @border-radius;
  border-left: 10px solid @grey-100;
  footer {
    margin-top: .6em;
    font-size: @font-size-small;
    opacity: 0.6;
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }

  @media (max-width: @bp-small) {
    .margin-horizontal(0);
    .margin-vertical(10px);
    padding: 20px;
  }
}

//Quote
q {
  &:before {content: "«";}
  &:after {content: "»";}
}


/**
 * Previene que `sub` y `sup` sean afectados por
 * `line-height` en todos los navegadores
 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}


//Direcciones
address {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid @text-color;
  font-style: italic;
}

//Placeholders
//Texto claro y oscuro
.light-text {color: @text-color-light;}
.dark-text  {color: @text-color-dark;}

// Alineamiento
.text-left    {text-align: left;}
.text-right   {text-align: right;}
.text-center  {text-align: center;}
.text-justify {text-align: justify;}

// Transformación de texto
.text-lowercase  {text-transform: lowercase;}
.text-uppercase  {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}

//Mostrar las letras mas juntas o mas separadas
.text-narrow {letter-spacing: @letter-spacing-narrow;}
.text-wide   {letter-spacing: @letter-spacing-wide;}