/* CONTENIDO
 *
 * BASE
 * $Base
 * $Tipografía
 *
 * COMPONENTS
 *
 * LAYOUT
 *
 * PAGES
 *
 * VENDOR
 *
 */
/*------------------------------------*\
    $Base
\*------------------------------------*/
* {
  box-sizing: border-box;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
 * Establece el alto de 'html' y de 'body' igual al de la pantalla.
 * Es útil para fondos grandes, o para elementos que tengan
 * que ocupar toda la pantalla.
 */
html,
body {
  height: 100%;
}
/**
 * 1. Previene que iOS ajuste el tamaño del texto después de un cambio de
 *    orientación, sin desactivar el zoom usuario.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #4d4d4d;
  margin: 0 auto;
  background-color: #f2f2f2;
}
/**
 * Corrige 'display block' para todos los elementos HTML5 en IE 8/9
 * Corrige 'display block' para 'details' y 'summary' en IE 10/11
 * Corrige 'display block' para 'main' en IE 11
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Corrige `inline-block` en IE 8/9.
 * 2. Normaliza la alineación vertical de `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Elimina el borde y el outline por defecto de los botones
 */
button,
input[type=submit],
input[type=button],
input[type=reset] {
  border: 0;
}
button:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus {
  outline: 0;
}
/**
 * No muestra los `audio` sin controles.
 * Elimina el exceso de altura en dispositivos iOS 5.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Estilos para el atributo `[hidden]` en IE 8/9/10.
 * Oculta el elemento `template` en IE 8/9/11, Safari, y Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/**
 * Elimina el fondo gris para los enlaces activos en IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Mejora la legibilidad cuando pasamos el ratón por encima en todos los navegadores.
 */
a:active,
a:hover {
  outline: 0;
}
/**
 * Elimina el margen por defecto
 */
p,
ul,
ol,
table,
dl,
address,
form,
dd {
  margin-bottom: 0;
}
/**
 * Corrige el color y la fuente heredados.
 * Elimina los bordes que muestra algún navegador.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
/**
 * Corrige `overflow` en IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Unifica criterios del `text-transform` en varios navegadores:
 * `button` en Firefox, IE 8/9/10/11, y Opera.
 * `select` en Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Corrige el bug de WebKit en Android 4.0.* que no muestra
 * los controles de `audio` y `video`.
 * 2. Consistencia en todos los tipos de `input` en iOS.
 * 3. Mejora la usabilidad y la consistencia en distintos navegadores.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Cursor `dafault` para elementos inhabilitados.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Elimina borde y padding en Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Corrige line-height en los `input` en Firefox 4+.
 */
input {
  line-height: normal;
}
/**
 * Es recomendable que no intentes dar estilos a estos elementos.
 * Firefox no respeta el `box-sizing`, `padding` y `width`.
 *
 * 1. Corrección de `content-box` en IE 8/9/10.
 * 2. Elimina el exceso de `padding` en IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Corrige el estilo de los botones de incremento/decremento
 * en Chrome.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Corrige `appearance` para `searchfield` en Safari y Chrome.
 * 2. Corrige `box-sizing` para `border-box` en Safari y Chrome
 *    (incluye `-moz` para el futuro).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Elimina el padding interior y el botón de cancelar
 * búsqueda en Safari y Chrome en OSX
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Establece consistencia en `border`, `margin`, y `padding`.
 */
fieldset {
  border: 0;
}
/*
 * Establece consistencias para IE.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Corrige el scroll vertical por defecto en IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Establece consistencias para Chrome y Safari en OS X.
 */
optgroup {
  font-weight: bold;
}
/**
 * Elimina espacios entre celdas.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
/**ENCABEZADOS
 * Las clases con nombre de encabezados sirven para dar un estilo de un
 * encabezado a otro, para cambiar el estilo visual manteniendo una correcta
 * semántica del HTML.
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Condensed', sans-serif;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 3rem;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3,
.h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
h4,
.h4 {
  font-size: 1.3rem;
  font-weight: 500;
}
h5,
.h5 {
  font-size: 1rem;
  font-weight: 500;
}
h6,
.h6 {
  font-size: 1rem;
  font-weight: 500;
}
a {
  color: #009688;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #26a69a;
  cursor: pointer;
  text-decoration: underline;
}
/**
 * Formato básico de elemento del texto
 */
p,
ul,
ol,
dl,
table,
address,
form {
  text-align: left;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 0;
}
p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child),
dl:not(:last-child),
table:not(:last-child),
address:not(:last-child),
form:not(:last-child) {
  margin-bottom: 2em;
}
/**
 * Los párrafos con la clase '.story' se identarán y la primera letra será más
 * grande. También se puede aplicar a un elemento padre.
 */
.story p,
p.story {
  text-indent: 30px;
}
.story p:first-letter,
p.story:first-letter {
  font-size: 2em;
}
/**LISTAS
 * El 'padding-left' elimina los estilos predefinidos de algunos navegadores
 */
ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}
li > ul,
li > ol {
  text-indent: 40px;
  margin-bottom: inherit;
}
/* Van dentro de un 'dl' */
dt {
  font-weight: 700;
}
dt:after {
  content: ":";
}
dd {
  text-indent: 20px;
}
b,
strong {
  font-weight: 700;
}
i,
em {
  font-style: italic;
}
small {
  font-size: 0.85rem;
  font-weight: 400;
  color: #8c8c8c;
}
cite {
  font-style: italic;
}
mark {
  background-color: yellow;
  color: inherit;
}
abbr {
  text-transform: uppercase;
}
abbr[title] {
  border-bottom: 1px dotted #4d4d4d;
}
abbr[title]:hover {
  cursor: help;
}
dfn {
  font-style: italic;
}
/**
 * Se pueden aplicar texturas. Ver 'libraries/textures.less'
 */
blockquote {
  margin: 20px;
  padding: 40px;
  font-size: 1.2rem;
  font-style: italic;
  color: #8c8c8c;
  line-height: 1.5em;
  border-radius: 2px;
  border-left: 10px solid #e6e6e6;
}
blockquote footer {
  margin-top: .6em;
  font-size: 0.85rem;
  opacity: 0.6;
}
blockquote footer a {
  color: inherit;
}
blockquote footer a:hover {
  color: inherit;
}
@media (max-width: 414px) {
  blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
  }
}
q:before {
  content: "«";
}
q:after {
  content: "»";
}
/**
 * Previene que `sub` y `sup` sean afectados por
 * `line-height` en todos los navegadores
 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
address {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #4d4d4d;
  font-style: italic;
}
.light-text {
  color: #8c8c8c;
}
.dark-text {
  color: #333333;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-narrow {
  letter-spacing: -0.05em;
}
.text-wide {
  letter-spacing: 0.05em;
}
/*------------------------------------*\
    $ACTION-BUTTON
\*------------------------------------*/
.action-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 98;
}
.action-button > button {
  transition: box-shadow 200ms ease-in-out;
  z-index: 97;
}
.action-button > button:before {
  transition: transform 200ms ease-in-out;
}
.action-button .action-button-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.action-button .action-button-content button {
  position: fixed;
  bottom: 26px;
  right: 18px;
  will-change: bottom;
  transition: bottom 200ms linear;
}
.action-button .action-button-content button:nth-child(4) {
  z-index: 93;
}
.action-button .action-button-content button:nth-child(3) {
  z-index: 94;
}
.action-button .action-button-content button:nth-child(2) {
  z-index: 95;
}
.action-button .action-button-content button:nth-child(1) {
  z-index: 96;
}
.action-button.open > button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.action-button.open > button:before {
  transform: rotate(90deg);
}
.action-button.open .action-button-content button:nth-child(1) {
  bottom: 78px;
}
.action-button.open .action-button-content button:nth-child(2) {
  bottom: 130px;
}
.action-button.open .action-button-content button:nth-child(3) {
  bottom: 182px;
}
.action-button.open .action-button-content button:nth-child(4) {
  bottom: 234px;
}
/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/**
 * Estilos por defecto de los botones
 */
button,
.btn,
input[type=submit],
input[type=button],
input[type=reset] {
  position: relative;
  padding: 0px 12px;
  margin: 6px 4px;
  will-change: box-shadow;
  transition: box-shadow 0.1s ease-in-out;
  height: 36px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 0.85rem;
  background-color: transparent;
}
button:hover,
.btn:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:focus,
.btn:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus {
  cursor: pointer;
}
button:disabled,
.btn:disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled {
  opacity: 0.5;
}
button:disabled:hover,
.btn:disabled:hover,
input[type=submit]:disabled:hover,
input[type=button]:disabled:hover,
input[type=reset]:disabled:hover {
  cursor: not-allowed;
}
button[data-icon]:before,
.btn[data-icon]:before,
input[type=submit][data-icon]:before,
input[type=button][data-icon]:before,
input[type=reset][data-icon]:before {
  margin-right: 8px;
}
button:hover,
.btn:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:focus,
.btn:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media (max-width: 800px) {
  button:hover,
  .btn:hover,
  input[type=submit]:hover,
  input[type=button]:hover,
  input[type=reset]:hover,
  button:focus,
  .btn:focus,
  input[type=submit]:focus,
  input[type=button]:focus,
  input[type=reset]:focus {
    box-shadow: none;
  }
}
button:active,
.btn:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active {
  background-color: rgba(0, 0, 0, 0.05);
}
button:disabled:hover,
.btn:disabled:hover,
input[type=submit]:disabled:hover,
input[type=button]:disabled:hover,
input[type=reset]:disabled:hover {
  box-shadow: none;
}
/**
 * Clases para modificar el estilo por defecto de los botones.
 * Es recomendable borrar(comentar con //) las que no se utilizen, ya que pueden
 * llegar a ocupar bastante espacio.
 */
.btn-flat {
  position: relative;
  padding: 0px 12px;
  margin: 6px 4px;
  will-change: box-shadow;
  transition: box-shadow 0.1s ease-in-out;
  height: 36px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 0.85rem;
  background-color: transparent;
}
.btn-flat:hover,
.btn-flat:focus {
  cursor: pointer;
}
.btn-flat:disabled {
  opacity: 0.5;
}
.btn-flat:disabled:hover {
  cursor: not-allowed;
}
.btn-flat[data-icon]:before {
  margin-right: 8px;
}
.btn-flat:hover,
.btn-flat:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media (max-width: 800px) {
  .btn-flat:hover,
  .btn-flat:focus {
    box-shadow: none;
  }
}
.btn-flat:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn-flat:disabled:hover {
  box-shadow: none;
}
.btn-raised {
  position: relative;
  padding: 0px 12px;
  margin: 6px 4px;
  will-change: box-shadow;
  transition: box-shadow 0.1s ease-in-out;
  height: 36px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 0.85rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
}
.btn-raised:hover,
.btn-raised:focus {
  cursor: pointer;
}
.btn-raised:disabled {
  opacity: 0.5;
}
.btn-raised:disabled:hover {
  cursor: not-allowed;
}
.btn-raised[data-icon]:before {
  margin-right: 8px;
}
@media (max-width: 800px) {
  .btn-raised:hover,
  .btn-raised:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.btn-raised:disabled:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn-float {
  position: relative;
  padding: 0px 12px;
  margin: 6px 4px;
  will-change: box-shadow;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 26px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  line-height: 56px;
}
.btn-float:hover,
.btn-float:focus {
  cursor: pointer;
}
@media (max-width: 800px) {
  .btn-float:hover,
  .btn-float:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.btn-float:hover,
.btn-float:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-float[data-icon]:before {
  position: absolute;
  margin: 0;
}
.btn-float[data-icon]:before {
  top: 15px;
  left: 15px;
}
.btn-float-mini {
  position: relative;
  padding: 0px 12px;
  margin: 6px 4px;
  will-change: box-shadow;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 26px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
}
.btn-float-mini:hover,
.btn-float-mini:focus {
  cursor: pointer;
}
@media (max-width: 800px) {
  .btn-float-mini:hover,
  .btn-float-mini:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.btn-float-mini:hover,
.btn-float-mini:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-float-mini[data-icon]:before {
  position: absolute;
  margin: 0;
}
.btn-float-mini[data-icon]:before {
  top: 7px;
  left: 7px;
}
/*------------------------------------*\
    $TARJETAS
\*------------------------------------*/
/**
 * A todos los elementes que tengan una clase que comience por
 * la palabra 'card*', se convertirán en tarjetas.
 * Se recomienda que sea un 'div' o un 'article'.
 */
[class^="card"] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 16px;
  margin: 0 14px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
[class^="card"] h3 {
  margin-top: 0;
}
[class^="card"] footer {
  text-align: right;
  margin-top: 24px;
}
[class^="card"] footer button {
  margin-top: 0;
  margin-bottom: 0;
}
[class^="card"][class*="dark"] {
  background-color: #37474f;
  color: #ffffff;
}
[class^="card"][class*="dark"] h3 {
  color: #ffffff;
}
[class^="card"][class*="image"] {
  padding: 0;
  padding-bottom: 16px;
}
[class^="card"][class*="image"] h3,
[class^="card"][class*="image"] p,
[class^="card"][class*="image"] footer {
  padding-left: 16px;
  padding-right: 16px;
}
[class^="card"] .title-background {
  position: relative;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 32px;
}
[class^="card"] .title-background h3 {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
[class^="card"] .title-background h3.title-shadow {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  padding-top: 20px;
  padding-bottom: 5px;
}
[class^="card"][class*="link"] {
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  will-change: box-shadow;
  transition-duration: 0.1s;
  cursor: pointer;
  /**
    * Debes poner aquí todos los elementos que estén dentro de tus
    * tarjetas que a su vez son todas ellas un enlace.
    * Así evitamos el uso del selector global '*'.
    * Además, se desaconseja poner enlaces o botones dentro
    * de estas tarjetas.
    */
}
[class^="card"][class*="link"] h3,
[class^="card"][class*="link"] p {
  color: #4d4d4d;
  cursor: pointer;
}
[class^="card"][class*="link"]:hover,
[class^="card"][class*="link"]:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media (max-width: 800px) {
  [class^="card"] {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*------------------------------------*\
    $CÓDIGO
\*------------------------------------*/
code,
kbd,
pre,
samp {
  font-family: monospace;
}
code,
kbd {
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
  padding: 1px 5px;
}
kbd {
  box-shadow: 0 2px #d9d9d9;
}
pre {
  overflow: auto;
  display: block;
  text-align: left;
}
pre:not(:last-child) {
  margin-bottom: 1rem;
}
pre code {
  display: block;
  padding: 30px;
  overflow-x: auto;
  overflow-y: auto;
}
@media (max-width: 414px) {
  pre code {
    padding: 30px 20px;
  }
}
/*------------------------------------*\
    $FORMULARIOS
\*------------------------------------*/
form li {
  display: flex;
  align-items: center;
  min-height: 50px;
}
form label {
  min-width: 150px;
  font-size: 0.85rem;
  font-weight: 400;
  color: #8c8c8c;
}
form input {
  background-color: transparent;
  transition-property: border-size, border-color;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="email"],
form input[type="number"],
form input[type="tel"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="datalist"],
form input[type="week"] {
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 0.9rem;
  padding: 8px 0px;
  margin: 8px 0px;
  text-transform: lowercase;
}
form input[type="checkbox"]:hover,
form input[type="radio"]:hover,
form input[type="file"]:hover,
form input[type="color"]:hover,
form input[type="image"]:hover {
  cursor: pointer;
}
form input[type="range"]:hover {
  cursor: col-resize;
}
form input[type="number"]:hover,
form input[type="date"]:hover,
form input[type="week"]:hover,
form input[type="datetime-local"]:hover,
form input[type="time"]:hover {
  cursor: default;
}
form input:invalid,
form input:out-of-range {
  border-bottom-color: #f44336;
}
form input:hover {
  cursor: text;
}
form input:focus {
  outline: 0;
  border-bottom-color: #26a69a;
}
form input:disabled {
  border-bottom-style: dotted;
  opacity: 0.6;
}
form input:disabled:hover {
  cursor: not-allowed;
}
form [data-icon]:before {
  margin-right: 16px;
  font-size: 16px;
  width: 16px;
  height: 32px;
  line-height: 32px;
  vertical-align: bottom;
}
select {
  background-color: transparent;
  border: 0;
}
select:hover {
  cursor: pointer;
}
select:focus {
  outline: 0;
}
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 0.9rem;
}
textarea:hover {
  cursor: text;
}
textarea:focus {
  outline: 0;
  border-bottom-color: #26a69a;
}
/*------------------------------------*\
    $LISTAS
\*------------------------------------*/
/**
* Colocar en un DIV padre de los UL.
*/
.list {
  background-color: #ffffff;
}
.list ul {
  padding: 8px 0;
  list-style-type: none;
  margin-bottom: 0;
}
.list ul:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.list li {
  display: flex;
}
.list a {
  line-height: 48px;
  padding: 0 16px;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
}
.list a:first-child {
  flex: 1;
}
.list a:first-child[data-number]:after {
  content: attr(data-number);
  float: right;
  color: #999999;
}
.list a:hover,
.list a:focus,
.list a.js-list-active {
  color: inherit;
  background-color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}
.list [data-icon]:before {
  margin-right: 24px;
  font-size: 24px;
  vertical-align: middle;
  width: 24px;
  height: 48px;
  line-height: 48px;
  color: #808080;
}
.list .addon {
  width: 48px;
  padding: 0;
}
.list .addon[data-icon]:before {
  width: 24px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 0;
}
.list hr {
  margin: 8px 0;
  border-top: 1px solid #e6e6e6;
}
/**
* Colocar directamente en los UL.
*/
.list-small {
  padding: 8px 0;
  background-color: #ffffff;
  list-style-type: none;
  margin-bottom: 0;
}
.list-small:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.list-small ul {
  list-style-type: none;
  margin-left: 0;
  padding-bottom: 8px;
}
.list-small a {
  display: block;
  line-height: 32px;
  padding: 0 16px;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
}
.list-small a:hover,
.list-small a:focus {
  text-decoration: none;
  color: inherit;
  background-color: #f2f2f2;
  cursor: pointer;
}
.list-small a[data-number]:after {
  content: attr(data-number);
  float: right;
  color: #999999;
}
.list-small [data-icon]:before {
  margin-right: 16px;
  font-size: 16px;
  width: 16px;
  height: 32px;
  line-height: 32px;
  vertical-align: bottom;
}
.list-small hr {
  margin: 8px 0;
  border-top: 1px solid #e6e6e6;
}
/*------------------------------------*\
    $IMÁGENES
\*------------------------------------*/
figure {
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
img {
  border: 0;
  /* Elimina el borde dentro de `a` en IE 8/9/10.*/
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
figcaption {
  color: #8c8c8c;
  font-size: 0.85rem;
  font-style: italic;
}
/*------------------------------------*\
    $OTROS
\*------------------------------------*/
hr {
  display: block;
  clear: both;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9d9d9;
  margin: 3rem 0;
  padding: 0;
  -moz-box-sizing: content-box;
  /* Consistencia entre navegadores */
  box-sizing: content-box;
  /* Consistencia entre navegadores */
}
details summary::-webkit-details-marker {
  display: none;
}
details summary:focus {
  outline: 0;
}
details summary:after {
  font-family: 'Material Icons';
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.3em;
  content: "\E5CF";
}
details summary:hover {
  cursor: pointer;
}
details[open] summary:after {
  content: "\E5CE";
}
/*Botones-iconos*/
span[data-role="close"] {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  opacity: 0.5;
}
span[data-role="close"]:hover {
  opacity: 1;
  cursor: pointer;
}
span[data-role="close"]:active {
  background-color: rgba(0, 0, 0, 0.2);
}
span[data-role="close"]:before {
  content: '×';
  position: absolute;
  top: -4px;
  right: 1.5px;
}
/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
.navbar {
  position: fixed;
  width: 100%;
  background-color: #009688;
  font-size: 24px;
  color: #ffffff;
  z-index: 97;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navbar a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover,
.navbar a:focus {
  background-color: #26a69a;
}
.navbar a:active {
  background-color: #4db6ac;
}
@media (max-width: 800px) {
  .navbar a:hover,
  .navbar a:focus {
    background-color: inherit;
  }
  .navbar a:active {
    background-color: #26a69a;
  }
}
.navbar [data-icon]:before {
  padding: 16px;
  color: #ffffff;
}
.navbar p {
  display: inline-block;
  font-size: 20px;
}
.navbar [data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  background-color: #c62828;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  top: 7px;
  right: 9px;
  text-align: center;
}
.navbar .navbar-main {
  display: flex;
  align-items: center;
  height: 56px;
}
.navbar .navbar-main a {
  border-radius: 100%;
}
.navbar .navbar-main .navbar-main_left {
  width: auto;
  margin-left: 10px;
}
@media (max-width: 414px) {
  .navbar .navbar-main .navbar-main_left {
    margin-left: 0;
  }
}
.navbar .navbar-main .navbar-main_center {
  flex: 1;
  margin-left: 28px;
  overflow-x: auto;
  white-space: nowrap;
}
@media (max-width: 800px) {
  .navbar .navbar-main .navbar-main_center {
    margin-left: 16px;
  }
}
.navbar .navbar-main .navbar-main_right {
  width: auto;
  margin-right: 10px;
}
@media (max-width: 414px) {
  .navbar .navbar-main .navbar-main_right {
    margin-right: 0;
  }
  .navbar .navbar-main .navbar-main_right a:not(:last-child) {
    margin-right: -14px;
  }
}
.navbar .navbar-title {
  height: 100px;
}
.navbar .navbar-title p {
  font-size: 2.5rem;
  margin-left: 28px;
  line-height: 86px;
}
@media (max-width: 800px) {
  .navbar .navbar-title {
    display: none;
  }
}
.navbar .navbar-tabs {
  height: 48px;
  margin-left: 16px;
  overflow-x: auto;
  white-space: nowrap;
}
.navbar .navbar-tabs a {
  font-size: 14px;
  padding: 0 12px;
  line-height: 46px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  text-transform: uppercase;
  opacity: 0.6;
}
.navbar .navbar-tabs a:hover,
.navbar .navbar-tabs a.tab-active {
  border-bottom: 2px solid #ffffff;
  opacity: 1;
}
@media (max-width: 800px) {
  .navbar .navbar-tabs {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .navbar .navbar-tabs {
    margin-left: 0px;
  }
}
/*------------------------------------*\
    $SNACKBAR
\*------------------------------------*/
.snackbar {
  position: fixed;
  bottom: -68px;
  left: 0;
  color: #ffffff;
  background-color: #37474f;
  height: 48px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: transform 200ms ease-in-out;
  padding-left: 24px;
  padding-right: 24px;
}
.snackbar p,
.snackbar button {
  margin: 0;
  cursor: pointer;
}
.snackbar p {
  flex-grow: 1;
  padding-right: 24px;
}
.snackbar p:before {
  margin-right: 24px;
  font-size: 24px;
  vertical-align: bottom;
}
.snackbar.open {
  transform: translateY(-68px);
}
@media (max-width: 414px) {
  .snackbar {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
/*------------------------------------*\
    $SWIPE-MENU
\*------------------------------------*/
.swipe-menu {
  background-color: #ffffff;
  width: 300px;
  height: 100%;
  z-index: 99;
  position: fixed;
  left: -300px;
  transition: transform 200ms ease-in-out;
  will-change: transform;
  overflow-y: auto;
}
.swipe-menu ul {
  padding: 8px 0;
  list-style-type: none;
  margin-bottom: 0;
}
.swipe-menu ul:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.swipe-menu li {
  display: flex;
}
.swipe-menu a {
  line-height: 48px;
  padding: 0 16px;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
}
.swipe-menu a:first-child {
  flex: 1;
}
.swipe-menu a:first-child[data-number]:after {
  content: attr(data-number);
  float: right;
  color: #999999;
}
.swipe-menu a:hover,
.swipe-menu a:focus,
.swipe-menu a.js-list-active {
  color: inherit;
  background-color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}
.swipe-menu [data-icon]:before {
  margin-right: 24px;
  font-size: 24px;
  vertical-align: middle;
  width: 24px;
  height: 48px;
  line-height: 48px;
  color: #808080;
}
.swipe-menu .addon {
  width: 48px;
  padding: 0;
}
.swipe-menu .addon[data-icon]:before {
  width: 24px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 0;
}
.swipe-menu hr {
  margin: 8px 0;
  border-top: 1px solid #e6e6e6;
}
.swipe-menu.open {
  transform: translateX(300px);
}
.swipe-shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 200ms ease-in-out;
  background-color: black;
  opacity: 0;
  z-index: 98;
}
.swipe-shadow.enabled {
  opacity: 0.6;
}
/*------------------------------------*\
    $TABLAS
\*------------------------------------*/
table {
  width: 100%;
}
table caption {
  font-style: italic;
  margin-bottom: 15px;
}
table thead {
  font-size: 0.85rem;
  color: #808080;
  border-bottom: 1px solid #e6e6e6;
}
table thead tr {
  height: 56px;
}
table tr {
  height: 48px;
}
table th,
table td {
  padding: 0 10px;
}
table.stripped tbody tr:nth-child(2n-1) {
  background-color: #e6e6e6;
}
table.bordered tbody tr {
  border-bottom: 1px solid #e6e6e6;
}
table.hoverable tbody tr:hover {
  background-color: #e6e6e6;
}
table.hoverable tbody tr:hover td {
  cursor: pointer;
}
table.hoverable-cell tbody td:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
table.centered {
  text-align: center;
}
main {
  padding-top: 204px;
}
@media (max-width: 800px) {
  main {
    padding-top: 104px;
  }
}
.md-action-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 98;
}
.md-action-button > button {
  transition: box-shadow 200ms ease-in-out;
  z-index: 97;
}
.md-action-button > button:before {
  transition: transform 200ms ease-in-out;
}
.md-action-button .action-button-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.md-action-button .action-button-content button {
  position: fixed;
  bottom: 26px;
  right: 18px;
  will-change: bottom;
  transition: bottom 200ms linear;
}
.md-action-button .action-button-content button:nth-child(4) {
  z-index: 93;
}
.md-action-button .action-button-content button:nth-child(3) {
  z-index: 94;
}
.md-action-button .action-button-content button:nth-child(2) {
  z-index: 95;
}
.md-action-button .action-button-content button:nth-child(1) {
  z-index: 96;
}
.md-action-button.open > button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.md-action-button.open > button:before {
  transform: rotate(90deg);
}
.md-action-button.open .action-button-content button:nth-child(1) {
  bottom: 78px;
}
.md-action-button.open .action-button-content button:nth-child(2) {
  bottom: 130px;
}
.md-action-button.open .action-button-content button:nth-child(3) {
  bottom: 182px;
}
.md-action-button.open .action-button-content button:nth-child(4) {
  bottom: 234px;
}
.list-title {
  display: block;
  color: #999999;
  height: 24px;
  line-height: 24px;
  font-size: 0.75rem;
  margin-left: 15px;
  margin-top: 8px;
}
.md-snackbar {
  position: fixed;
  bottom: -68px;
  left: 0;
  color: #ffffff;
  background-color: #37474f;
  height: 48px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: transform 200ms ease-in-out;
  padding-left: 24px;
  padding-right: 24px;
}
.md-snackbar p,
.md-snackbar button {
  margin: 0;
  cursor: pointer;
}
.md-snackbar p {
  flex-grow: 1;
  padding-right: 24px;
}
.md-snackbar p:before {
  margin-right: 24px;
  font-size: 24px;
  vertical-align: bottom;
}
.md-snackbar.open {
  transform: translateY(-68px);
}
@media (max-width: 414px) {
  .md-snackbar {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
.md-table {
  width: 100%;
}
.md-table caption {
  font-style: italic;
  margin-bottom: 15px;
}
.md-table thead {
  font-size: 0.85rem;
  color: #808080;
  border-bottom: 1px solid #e6e6e6;
}
.md-table thead tr {
  height: 56px;
}
.md-table tr {
  height: 48px;
}
.md-table th,
.md-table td {
  padding: 0 10px;
}
.md-table.stripped tbody tr:nth-child(2n-1) {
  background-color: #e6e6e6;
}
.md-table.bordered tbody tr {
  border-bottom: 1px solid #e6e6e6;
}
.md-table.hoverable tbody tr:hover {
  background-color: #e6e6e6;
}
.md-table.hoverable tbody tr:hover td {
  cursor: pointer;
}
.md-table.hoverable-cell tbody td:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.md-table.centered {
  text-align: center;
}
/**
* Mixings que pueden ser útiles para posicionar elementos
* durante el diseño y programación del CSS
*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
* https://trello.com/c/HKwHL2lT
* Introduccir en los HTML no en los CSS
*/
.mobile-element,
.tablet-element,
.hide {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.screenreader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 800px) {
  .desktop-element {
    display: none !important;
  }
  .tablet-element {
    display: inline-block !important;
  }
  article.tablet-element,
  ul.tablet-element,
  aside.tablet-element,
  figcaption.tablet-element,
  figure.tablet-element,
  footer.tablet-element,
  header.tablet-element,
  main.tablet-element,
  nav.tablet-element,
  section.tablet-element {
    display: block !important;
  }
}
@media (max-width: 414px) {
  .extra-width {
    width: 111%;
    margin-left: -5.5%;
  }
  .desktop-element {
    display: none !important;
  }
  .mobile-element {
    display: inline-block !important;
  }
  article.mobile-element,
  ul.mobile-element,
  aside.mobile-element,
  figcaption.mobile-element,
  figure.mobile-element,
  footer.mobile-element,
  header.mobile-element,
  main.mobile-element,
  nav.mobile-element,
  section.mobile-element {
    display: block !important;
  }
}
/*------------------------------------*\
    $IMPRESIÓN
\*------------------------------------*/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
  * No muestra los links que son identificadores,
  * o usan el pseudo protocolo 'javascript:'
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
}
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
.primary,
.info,
.success,
.alert,
.error {
  /*Buttons*/
  /*blockquote*/
}
.primary.btn-raised,
.info.btn-raised,
.success.btn-raised,
.alert.btn-raised,
.error.btn-raised,
.primary.btn-float,
.info.btn-float,
.success.btn-float,
.alert.btn-float,
.error.btn-float,
.primary.btn-float-mini,
.info.btn-float-mini,
.success.btn-float-mini,
.alert.btn-float-mini,
.error.btn-float-mini {
  color: #ffffff;
}
blockquote.primary,
blockquote.info,
blockquote.success,
blockquote.alert,
blockquote.error {
  color: #ffffff;
  border-left: 0;
}
.primary {
  /*Buttons*/
  /*blockquote*/
}
.primary.btn-flat,
button.primary {
  color: #009688;
}
.primary.btn-raised,
.primary.btn-float,
.primary.btn-float-mini {
  background-color: #009688;
}
.primary.btn-raised:active,
.primary.btn-float:active,
.primary.btn-float-mini:active {
  background-color: #26a69a;
}
blockquote.primary {
  background-color: #009688;
}
.info {
  /*Buttons*/
  /*blockquote*/
}
.info.btn-flat,
button.info {
  color: #42a5f5;
}
.info.btn-raised,
.info.btn-float,
.info.btn-float-mini {
  background-color: #42a5f5;
}
.info.btn-raised:active,
.info.btn-float:active,
.info.btn-float-mini:active {
  background-color: #2196f3;
}
blockquote.info {
  background-color: #42a5f5;
}
.success {
  /*Buttons*/
  /*blockquote*/
}
.success.btn-flat,
button.success {
  color: #66bb6a;
}
.success.btn-raised,
.success.btn-float,
.success.btn-float-mini {
  background-color: #66bb6a;
}
.success.btn-raised:active,
.success.btn-float:active,
.success.btn-float-mini:active {
  background-color: #4caf50;
}
blockquote.success {
  background-color: #66bb6a;
}
.alert {
  /*Buttons*/
  /*blockquote*/
}
.alert.btn-flat,
button.alert {
  color: #ffca28;
}
.alert.btn-raised,
.alert.btn-float,
.alert.btn-float-mini {
  background-color: #ffca28;
}
.alert.btn-raised:active,
.alert.btn-float:active,
.alert.btn-float-mini:active {
  background-color: #ffc107;
}
blockquote.alert {
  background-color: #ffca28;
}
.error {
  /*Buttons*/
  /*blockquote*/
}
.error.btn-flat,
button.error {
  color: #ef5350;
}
.error.btn-raised,
.error.btn-float,
.error.btn-float-mini {
  background-color: #ef5350;
}
.error.btn-raised:active,
.error.btn-float:active,
.error.btn-float-mini:active {
  background-color: #f44336;
}
blockquote.error {
  background-color: #ef5350;
}
/*------------------------------------*\
    $EMOJI TWITTER
\*------------------------------------*/
[data-emoji] {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}
[data-emoji].laught {
  -webkit-animation-name: laught;
  -webkit-animation-duration: 150ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-name: laught;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes laught {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1px);
  }
}
[data-emoji].beat {
  -webkit-animation-name: beat;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-name: beat;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes beat {
  from {
    height: 1em;
    width: 1em;
    vertical-align: -0.1em;
    background-size: 1em 1em;
  }
  to {
    height: 1.33em;
    width: 1.33em;
    vertical-align: -0.133em;
    background-size: 1.33em 1.33em;
  }
}
[data-emoji="smile"] {
  background-image: url("../img/svg/emoji/twitter/1f604.svg");
}
[data-emoji="joy"] {
  background-image: url("../img/svg/emoji/twitter/1f602.svg");
}
[data-emoji="heart"] {
  background-image: url("../img/svg/emoji/twitter/2764.svg");
}
/*------------------------------------*\
    $MATERIAL DESIGN ICONS
\*------------------------------------*/
[data-icon]:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  content: attr(data-icon);
  speak: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga';
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
[data-icon].light:before {
  color: #ffffff;
}
[data-icon].lg:before {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
[data-icon].fw:before {
  width: 1.28571429em;
  text-align: center;
}
[data-icon].spin:before {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
[data-icon].rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/**
* prism.js default theme for JavaScript, CSS and HTML
* Based on dabblet (http://dabblet.com)
* @author Lea Verou
*/
code {
  background-color: #263238;
  color: #ffffff;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #607d8b;
}
.token.punctuation {
  color: #ffffff;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #26a69a;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ef5350;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #ffee58;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #66bb6a;
}
.token.function {
  color: #ffa726;
}
.token.regex,
.token.important,
.token.variable {
  color: red;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token a {
  color: inherit;
}
